# Dependencies
node_modules/
backend/venv/
__pycache__/
*.pyc

# Environment
.env
.env.local
.env*.local

# Build
.next/
out/
dist/

# IDE
.vscode/
.idea/
.cursor/

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# frontend
frontend/.next/
frontend/node_modules/
frontend/out/

# backend
backend/.venv/
backend/venv/

